.container-projetos {
  background: #0d0d0d;
  min-height: 100vh;
  width: 100%;
  padding: 40px;
  color: #fff;

  .card-projetos {
    background: #1c1c1c;
    padding: 35px;
    border-radius: 16px;
    margin: 0 auto 40px auto;
    box-shadow: 0 0 20px rgba(0,0,0,0.7);

    .cabecalho {
      text-align: center;
      h2 {
        font-family: "Hammersmith One", sans-serif;
        font-size: 2.3rem;
      }
      .linha {
        margin: 5px auto 0 auto;
        height: 3px;
        align-items: center;
        width: 55%;
        background: linear-gradient(to right, var(--azul), var(--rosa));
      }
    }

    form {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      gap: 20px;

      .input-grupo {
        display: flex;
        flex-direction: column;
        gap: 8px;

        label {
          font-size: 1rem;
          letter-spacing: 0.1rem;
          text-align: start;
        }

        input,
        textarea {
          background: #2b2b2b;
          border: 1px solid #333;
          border-radius: 8px;
          padding: 10px;
          color: #fff;

          &:focus {
            outline: none;
            border-color: var(--rosa);
            box-shadow: 0 0 4px var(--rosa);
          }
        }

        textarea {
          height: 120px;
          resize: vertical;
        }
      }

      .custom-file-upload {
        display: flex;
        align-items: center;
        gap: 10px;
        background: #2b2b2b;
        border: 1px solid #333;
        padding: 10px;
        border-radius: 8px;

        .btn-file {
          background: linear-gradient(20deg, var(--rosa), var(--azul));
          padding: 8px 15px;
          border-radius: 6px;
          cursor: pointer;
          font-family: "Hammersmith One";
        }

        #fileName {
          color: #ccc;
          max-width: 230px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        input[type="file"] {
          display: none;
        }
      }

      .preview-img {
        text-align: center;

        img {
          width: 250px;
          height: 200px;
          object-fit: cover;
          border-radius: 10px;
          margin-top: 10px;
          padding: 3px;
          background: linear-gradient(to right, var(--rosa), var(--azul));
        }
      }

      .botoes {
        display: flex;
        gap: 10px;
        justify-content: space-between;

        button,a {
          padding: 10px 20px;
          border-radius: 8px;
          background: var(--rosa);
          font-family: "Open Sans", sans-serif;
          color: #fff;
          text-decoration: none;
          transition: 0.2s;

          &:hover {
            transform: scale(1.05);
          }
        }

        a {
          background: #333;
        }
      }
    }
  }

  .titulo-lista {
    text-align: center;
    margin-bottom: 20px;
    font-family: "Hammersmith One";

    .linha {
        margin: 5px auto 0 auto;
        height: 3px;
        align-items: center;
        width: 55%;
        background: linear-gradient(to right, var(--azul), var(--rosa));
    }
  }

  .lista-projetos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    width: 100%;

    .item-projeto {
      background: #1c1c1c;
      padding: 15px;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0,0,0,0.6);

      img {
        width: 100%;
        height: 200px;
        border-radius: 10px;
        object-fit: cover;
      }

      h3 {
        margin-top: 10px;
        font-size: 1.2rem;
      }

      p {
        color: #ccc;
        font-size: 0.9rem;
        margin: 8px 0;
      }

      .acoes {
        display: flex;
        justify-content: space-between;

        a {
          padding: 6px 14px;
          border-radius: 6px;
          font-weight: bold;
          text-decoration: none;
          color: #fff;
          transition: .2s;
        }

        .edit {
          background: var(--rosa);
          font-family: "Open Sans", sans-serif;
        }

        .delete {
          background: #b30000;
          font-family: "Open Sans", sans-serif;
        }

        a:hover {
          transform: scale(1.05);
        }
      }
    }
  }
}
