// Desktop

header {
  background:transparent;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px;
  max-width: 1200px;
  z-index: 100;
  .header-font {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    li {
      a {
        color: var(--roxo);
      }
    }
    li {
      li {
        a {
          color: var(--roxo);
        }
      }
    }
  }
  .mobile-menu-top {
    display: none;
  }
  .logo-mobile {
    display: none;
  }
  .nav-desktop {
    width: 100%;
    margin: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo-desktop {
      img {
        width: 80px;
      }
    }
    .nav-links {
      display: flex;
      flex-direction: row;
      li {
        margin-left: 40px;
      }
    }
    .div-login-user {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
// Tablets e Ipads
@media (max-width: 800px) {
  header {
    .nav-desktop {
      justify-content: space-between;
      .logo-desktop {
        img {
          width: 70px;
        }
      }
      .nav-links {
        li {
          margin-left: 20px;
        }
      }

      .div-login-user {
        .profile-img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

// Mobile
@media (max-width: 550px) {
  header {
    .mobile-menu-top {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      color: var(--roxo);
      font-size: 25px;
    }
    .logo-mobile {
      display: inline;
      img {
        width: 60px;
        height: auto;
      }
    }
    .nav-desktop {
      display: none;
    }
  }
}
