.hero{
    z-index: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    height: 50vw;
    position: relative;
    top:-100px;
    background-image:radial-gradient(rgba(0, 0, 0, 0.4),rgb(0, 0, 0)),url("../img/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .hero-text{
        display: flex;
        width: 700px;
        flex-direction: column;
        h1{
            color: white;
            font-size: 5vw;
            font-family: "Open Sans", sans-serif;
            font-weight: bold;
            letter-spacing: 0.2rem;
        }
        p{
            color: white;
            font-size: 1.5vw;
            font-family: "Roboto", sans-serif;
        }
    }
}
.servicos{
    width:90%;
    height: 600px;
    border: purple 2px solid ;
    margin: 10px 60px;
    max-width: 1920px;
    display: flex;
    .img{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45%;
      
        img{
            width:100%;
            height: 100%;
            object-fit: cover;
        
        }
    }
    .servicos-text{
        display: flex;
        width: 50%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        h2{

        }
        ul{
            text-align: start;
            display: flex;
            flex-direction: column;
            gap: 20px; 
        }
    }
}
.sobre{
    max-width: 1920px;
    width: 90%;
    margin-top: 40px;
    height: 500px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    border: 1px solid purple;
    .sobre-img{
        display: flex;
        align-items: end;
        justify-content: end;
        width: 50%;

        max-width: 50%;
        img{
            width: 90%;
            height: 499px;
            object-fit: cover;
            object-position: center;
            
        }
    }
    .sobre-text{
        width: 100%;
        max-width: 50%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 30px;
        p{
            text-align: justify;
            font-size: 20px;
            max-width: 90%;
        }

    }

}
// Tablets e Ipads
@media (max-width: 800px) {
}
// Mobile
@media (max-width: 500px) {
    .hero{
        height: 400px;
        .hero-text{
            width: 100%;
            justify-content: center;
            align-items: center;
            h1{
                font-size:20px;
            }
            p{
                font-size: 16px;
                max-width: 90%;
            }
        }
    }
    .servicos{
        width:99%;
        height: 100%;
        border: purple 2px solid ;
        margin-top:-80px;
        padding: 20px;
        align-items: start;
        .img{

            display: none;
        }
         .servicos-text{
            width: 100%;
            gap: 0;
            h2{

            }
            ul{
                gap: 10px; 
            }
        }
    }
    .sobre{
        .sobre-img{
            display: none;
        }
        .sobre-text{
            width: 100%;
            max-width: 100%;
            padding: 0;
            align-items: center;
            gap: 10px;
            p{
                text-align: justify;
                font-size: 16px;
                max-width: 100%;
            }

        }
    }
}