.hero{
    z-index: 0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1920px;
    width: 100%;
    height: 50vw;
    position: relative;
    top:-100px;
    background-image:radial-gradient(rgba(0, 0, 0, 0.4),rgb(0, 0, 0)),url("../img/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    .hero-text{
        display: flex;
        width: 700px;
        flex-direction: column;
        h1{
            color: white;
            font-size: 5vw;
            font-family: "Open Sans", sans-serif;
            font-weight: bold;
            letter-spacing: 0.2rem;
        }
        p{
            color: white;
            font-size: 1.5vw;
            font-family: "Roboto", sans-serif;
        }
    }
}
.servicos{
    z-index: 10;
    max-width: 1920px;
    width: 90%;
    height: 40vw;
    border-image: linear-gradient(to right, var(--azul), var(--rosa)) 1;
    border-width: 2px;
    border-style: solid;
    color: var(--text);
    display: flex;
     .img{
        z-index: 0;
        display: flex;
        width: 45%;
        max-width: 50%;
        img{
            width: 100%;
            height: 39.7vw;
            object-fit: cover;
            object-position: center;
            border-image: linear-gradient(to bottom, var(--rosa), var(--azul)) 1;
            border-right: 2px solid;
         }
    }
    .servicos-text h1{
        font-family: "Hammersmith One", sans-serif;   
    }
    .servicos-text ul li{
        font-family: "Roboto", sans-serif;   
    }
    .servicos-text a{
        font-family: "Open Sans", sans-serif;
        letter-spacing: 0.1rem;
    }
    .servicos-text{
        display: flex;
        width: 55%;
        flex-direction: column;
        justify-content: center;
        align-items: right;
        gap: 30px;
        h1{
            letter-spacing: 0.1rem;
            text-align: start;
            margin-left: 60px;
            
        }
        ul{
            text-align: start;
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-left: 90px;
            margin-bottom: 40px;
        }
        ul li{
            letter-spacing: 0.1rem;
            color: var(--text-muted);
        }
    }
}
.servicos-btn {
    width: 25vw;
    height: 65px;
    display: flex;
    margin-left: 60px;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: bold;
    color: var(--text-muted);
    text-decoration: none;
    border: 3px solid;    
    border-image: linear-gradient(to right, var(--azul),  var(--rosa)) 1;
    transition: color .35s ease, box-shadow .2s ease;
    z-index: 0;

}
a.servicos-btn:hover {
    color: white;
    transform: scale(1.01);
    box-shadow: 0 0 20px rgba(115, 115, 115, 0.4);
}
.sobre{
    z-index: 10;
    max-width: 1920px;
    width: 90%;
    margin-top: 8%;
    height: 40vw;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    border-image: linear-gradient(to right, var(--rosa), var(--azul)) 1;
    border-width: 2px;
    border-style: solid;
    .sobre-img{
        z-index: 0;
        display: flex;
        align-items: end;
        justify-content: end;
        width: 50%;
        max-width: 50%;
        img{
            width: 90%;
            height: 39.7vw;
            object-fit: cover;
            object-position: center;
            border-image: linear-gradient(to bottom, var(--azul), var(--rosa)) 1;
            border-left: 2px solid;
        }
    }
    .sobre-text{
        width: 100%;
        max-width: 50%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 30px;
        
        h1{
            font-family: "Hammersmith One", sans-serif;   
            letter-spacing: 0.1rem;
            color: var(--text);
        }

        h2{
            font-family: "Open Sans", sans-serif;
            letter-spacing: 0.1rem;
            font-size: 25px;
            margin-top: -20px;
            margin-bottom: 20px;
            strong{
                color: var(--text-strong-muted);
            }
        }

        p{
            text-align: justify;
            font-size: 20px;
            max-width: 100%;
            font-family: "Roboto", sans-serif;   
            letter-spacing: 0.1rem;
            color: var(--text-muted);
            strong{
               color: var(--text-strong-muteder);
            }
        }
    }
}
.localizacao {
    display: flex;
    flex-direction: column;
    width: 1360px;
    height: 550px;
    margin-top: 50px;
    margin-bottom: 20px;
    

    .maps {
        position: relative; /* necessário para a overlay se alinhar */
        width: 100%;
<<<<<<< HEAD
        background:linear-gradient(to right,var(--rosa),var(--azul));
        height: 400px;
=======
        height: 100%;
>>>>>>> parent of 54eeb77 (Tentativa de deixar responsivo)
        border: 2px solid;
        border-image: linear-gradient(to bottom, var(--azul), var(--rosa)) 1; 
        transition: opacity 0.1s ease;
        
        #map2{
<<<<<<< HEAD
            width: 100%;
            height: 400px;
=======
>>>>>>> parent of 54eeb77 (Tentativa de deixar responsivo)
            border: 2px solid;
            border-image: linear-gradient(to bottom, var(--azul), var(--rosa)) 1;
            box-shadow: 0 0 20px rgba(115, 115, 115, 0.4);
        }
        transition: transform 0.5s ease;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            transition: transform 0.5s ease;
            border: 2px solid;
            border-image: linear-gradient(to bottom, var(--azul), var(--rosa)) 1;
        }

        
        
        .overlay h1 {
            color: white;
            font-size: 28px;
            text-align: center;
        }


    }

    .localizacao-text {
        text-align: left;
        margin-bottom: 20px;
        font-family: "Hammersmith One", sans-serif;   
        letter-spacing: 0.1rem;
        color: var(--text);
        .linha {
            display: flex;
            width: 90%;          /* ocupa toda a largura do container */
            text-align: left;   /* centraliza o conteúdo interno, se houver */
            justify-content: left;
            margin-bottom: 20px;
        }
        .linha::after {
            content: "";
            display: block;
            width: 240px;           /* tamanho da "linha" */
            height: 3px;            /* espessura da borda */
            background: linear-gradient(to right, var(--azul), var(--rosa));    
            margin-left: 10px;         /* centraliza horizontalmente */
            }
    }

    .info {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
        justify-content: space-between;

        h2{
            font-family: "Open Sans", sans-serif;
            letter-spacing: 0.1rem;
            font-size: 20px;
        }

        p{
            font-family: "Roboto", sans-serif;
            letter-spacing: 0.1rem;
            font-size: 12px;
            color: var(--text-muted);

            strong{
                color: var(--text-strong-muted);
            }
            
        }

        .informacao {
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: start;
        }
        
        .contato {
            /* estilos adicionais aqui */
        }
    }
}

.faqs{
    width: 100%;
    margin-top: 50px;
    .faqs-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 30px;
        h1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-left: 70px;
        }
        .accordions-box{
            display: flex !important;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 30px;
            padding: 20px;
            margin-left: 50px;
            .accordion{
                width: 1200px;
                background:transparent;
                .accordion-item{
                    background:transparent;
                    .accordion-header{
                        .accordion-button{
                            background-color: transparent;
                            color: white;
                            font-size: 14px;
                            transition: all 0.35s ease;
                  
                            // HOVER
                            &:hover {
                                padding: 20px;
                                font-size: 17px;
                            }

                            // QUANDO ESTÁ ATIVO (aberto)
                            &:not(.collapsed) {
                                font-size: 16px;
                                border: 3px solid;    
                                border-image: linear-gradient(to right, var(--azul),  var(--rosa)) 1;
                            }
                        }
                    }
                    .accordion-collapse{
                        .accordion-body{
                            color:white;
                            background-color: var(--bg);
                            transition: all 0.50s ease;
                            font-size: 13px;
                             &:hover{
                                color:white;
                                background-color: var(--bg-light);
                                font-size: 15px;
                             }
                        }
                    }
                }
            }
        }
    }

}
// Tablets e Ipads
@media (max-width: 800px) {
}
// Mobile
@media (max-width: 500px) {
    .hero{
        height: 400px;
        .hero-text{
            width: 100%;
            justify-content: center;
            align-items: center;
            h1{
                font-size:20px;
            }
            p{
                font-size: 16px;
                max-width: 90%;
            }
        }
    }
    .servicos{
        width:99%;
        height: 100%;
        border: purple 2px solid ;
        margin-top:-80px;
        padding: 20px;
        align-items: start;
        .img{

            display: none;
        }
         .servicos-text{
            width: 100%;
            gap: 30px;
            h2{

            }
            ul{
                gap: 10px; 
            }
        }
    }
    .sobre{
        height: auto;
        width: 97%;
        margin:0 ;
        flex-direction: column;
        .sobre-img{
            display: none;
        }
        .sobre-text{
            width:100%;
            max-width: 100%;
            align-items: start;
            justify-content: start;
            p{
                font-size: 17px;
                width: 100%;
                margin: 10px;
                text-align: left;
            }
        }

    }
    .faqs{
        margin-bottom: 50px;
        .faqs-text{
            align-items: center;
            margin: 10px;
            h1{
                margin-left: 0;
            }
            .accordions-box{
                gap: 30px;
                padding: 10px;
                width: 100%;
                margin-left: 0;
                .accordion{
                    width: 100%;
                    background:transparent;
                    .accordion-item{
                        background:transparent;
                        .accordion-header{
                            .accordion-button{
                                
                                background-color: transparent;
                                color: white;
                                font-size: 14px;
                                transition: all 0.35s ease;
                                // HOVER
                                &:hover {
                                    padding: 20px;
                                    font-size: 17px;
                                }

                                // QUANDO ESTÁ ATIVO (aberto)
                                &:not(.collapsed) {
                                    font-size: 16px;
                                    border: 3px solid;    
                                    border-image: linear-gradient(to right, var(--azul),  var(--rosa)) 1;
                                }
                            }
                        }
                        .accordion-collapse{
                            .accordion-body{
                                color:white;
                                background-color: var(--bg);
                                transition: all 0.50s ease;
                                font-size: 13px;
                                &:hover{
                                    color:white;
                                    background-color: var(--bg-light);
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}