.hero-servicos{
    //medidas fundamentais
    max-width: 1920px;
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0;
    //flexbox
    display: flex;
    justify-content: center;
    align-items: center;
    //position
    position: relative;
    z-index: 0;
    margin-bottom: -90px;
    top:-100px;
    //estilos personalizados
    background-image:radial-gradient(rgba(0, 0, 0, 0.5),var(--bg)),url("../img/hero.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    //elementos filhos
    .servicos-text{
        display: flex;
        width: 900px;
        flex-direction: column;
        h1{
            color: white;
            font-size: 5vw;
            font-family: "Open Sans", sans-serif;
            font-weight: bold;
            letter-spacing: 0.2rem;
        }
        p{
            color: white;
            font-size: 1.2vw;
            font-family: "Roboto", sans-serif;
        }
    }
}

.servico-page{
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: start;
    align-items: center;
    justify-content: center;
    width: 91%;

    .card-body{
        display: flex;
        flex-direction: column;
        justify-content: center;
        border-radius: 50px;
        h5{
            font-size: 22px;
        }

    }
}
.servico-page2{
    display: flex;
    flex-direction: row;
    gap: 20px;
    text-align: start;
    width: 91%;
    margin-bottom: 20px;

        .card-body{
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
}

    .card{
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        cursor: pointer;
    }
  .card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 22, 228, 0.79);
  z-index: 10;
}