.intocavel {
  display: none;
}
@media (max-width: 800px) {
}
@media (max-width: 550px) {
  .intocavel {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
    .sidebar {
      width: 300px;
      height: 100vh;
      background: var(--bg);
      border-right: 1px solid #1a1717;
      position: fixed;
      left: -300;
      top: 0;
      padding: 4px;
      overflow-y: auto;
      box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
      z-index: 200;
      .header-sidebar {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .close-button {
          border: none;
          background-color:var(--bg) ;
          padding: 0;
          font-size: 30px;
          color: #93a1a6;
        }
      }
      .menu-section {
        display: flex;
        flex-direction: column;
        align-items: start;
        padding: 10px;
        border-bottom: #93a1a6 solid 1px;
        h4 {
          font-size: 16px;
          color: #93a1a6;
          margin-top: 12px;
        }
        a {
          text-decoration: none;
          color: var(--black);
          margin-bottom: 10px;
        }
      }
      .menu-section-1 {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 10px;
        padding: 10px;
        border-bottom: #93a1a6 solid 1px;
        a {
          text-decoration: none;
          font-size: 20px;
          color: var(--rosa);
        }
      }
    }
  }
}
