// apenas variaveis e constantes
:root {
  --azul: #5170ff;
  --roxo: #976ce7;
  --preto: #000;
  --branco: #fff;
  --rosa: #ff66c4;
  --amarelo: #feba16;
}
$white: var(--branco);
$azul: var(--azul);
$preto: var(--preto);
$rosa: var(--rosa);
$amarelo: var(--amarelo);
$roxo: var(--roxo);
