@import url(vars.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar-nav {
  margin: auto;
}

.profile-img {
  width: 40px;
  height: auto;
  object-fit: cover;
  border-radius: 50%;
  filter: invert(1);
}

.card {
  max-width: 500px;
  width: 100%;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.card-header {
  border-top-left-radius: 1rem !important;
  border-top-right-radius: 1rem !important;
}

.form-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}
