@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --azul: #5170ff;
  --roxo: #976ce7;
  --preto: #000;
  --branco: #fff;
  --rosa: #ff66c4;
  --amarelo: #feba16;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--branco);
  color: var(--preto);
  font-family: Arial, sans-serif;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.aberto {
  display: block;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.hammersmith-one {
  font-family: "Hammersmith One", sans-serif;
}

.icon-grande {
  font-size: 30px !important;
  margin-left: 10px;
}

header {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  max-width: 1200px;
}
header .header-font {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: "A";
}
header .header-font li a {
  color: var(--roxo);
}
header .header-font li li a {
  color: var(--roxo);
}
header .mobile-menu-top {
  display: none;
}
header .logo-mobile {
  display: none;
}
header .nav-desktop {
  width: 100%;
  margin: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .nav-desktop .logo-desktop img {
  width: 80px;
}
header .nav-desktop .nav-links {
  display: flex;
  flex-direction: row;
}
header .nav-desktop .nav-links li {
  margin-left: 40px;
}
header .nav-desktop .div-login-user {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .nav-desktop .div-login-user .profile-img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 800px) {
  header .nav-desktop {
    justify-content: space-between;
  }
  header .nav-desktop .logo-desktop img {
    width: 70px;
  }
  header .nav-desktop .nav-links li {
    margin-left: 20px;
  }
  header .nav-desktop .div-login-user .profile-img {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 550px) {
  header .mobile-menu-top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: var(--roxo);
    font-size: 25px;
  }
  header .logo-mobile {
    display: inline;
  }
  header .logo-mobile img {
    width: 60px;
    height: auto;
  }
  header .nav-desktop {
    display: none;
  }
}
.hero {
  width: 100%;
  height: 400px;
  padding: 10px 20px;
  background-image: url("../img/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  max-width: 1350px;
  display: flex;
  flex-direction: row;
}
.hero .hero-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero .hero-text h1 {
  color: var(--branco);
  font-size: 36px;
}
.hero .hero-text h1 span {
  color: var(--roxo);
}
.hero .hero-text p {
  color: white;
  font-size: 20px;
}
.hero .hero-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  width: 100%;
}
.hero .hero-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--branco);
  font-size: 60px;
}
.hero .hero-button a .button-whats {
  padding: 5px 40px;
  background-color: green;
  border-radius: 50px;
}

.sobre {
  background-color: white;
  max-width: 1350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  padding: 20px 5px 5px 5px;
}
.sobre .sobre-text {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  gap: 30px;
  max-width: 700px;
}
.sobre .sobre-text h2 {
  color: var(--roxo);
}
.sobre .sobre-text span {
  font-weight: bold;
  text-align: left;
}
.sobre .sobre-text p {
  text-align: justify;
  padding: 5px;
  max-width: 700px;
}
.sobre .sobre-text ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.sobre .sobre-text ul li {
  font-size: 22px;
  color: var(--rosa);
}
.sobre .sobre-img {
  padding: 20px;
}

.servicos {
  background-image: url("../img/fundo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  max-width: 1350px;
}
.servicos .servicos-mobile {
  display: none;
}
.servicos .servicos-desktop {
  display: flex;
  flex-direction: column;
}
.servicos .servicos-desktop .linha {
  position: relative;
  display: inline-block;
  color: #007bff; /* Azul */
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}
.servicos .servicos-desktop .linha::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #007bff 50%, #ff4dc0 50%);
  border-radius: 2px;
}
.servicos .servicos-desktop .servicos-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 80px;
}
.servicos .servicos-desktop .servicos-boxes .servicos-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: white;
  border-radius: 30px;
  padding: 30px 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.servicos .servicos-desktop .servicos-boxes .servicos-box img {
  width: 80px;
}

.locais {
  display: flex;
  max-width: 1350px;
  width: 100%;
  flex-direction: column;
  background-color: red;
  margin-bottom: 30px;
}
.locais .locais-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  background-color: #ff4dc0;
  width: 100%;
  padding: 20px;
}
.locais .locais-content .locais-mapa {
  background-color: yellow;
  padding: 10px;
}
.locais .locais-content .locais-text {
  background-color: #ffffff;
  padding: 10px;
}
.locais .locais-content .locais-text h3 {
  position: relative;
  display: inline-block;
  color: #007bff; /* Azul */
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}
.locais .locais-content .locais-text h3::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(to right, #007bff 50%, #ff4dc0 50%);
  border-radius: 2px;
}

@media (max-width: 800px) {
  .hero {
    height: 350px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }
  .hero .hero-button {
    width: 100%;
  }
  .hero .hero-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--branco);
    font-size: 30px;
  }
  .hero .hero-button a .button-whats {
    padding: 10px 20px;
    background-color: green;
    border-radius: 30px;
  }
  .sobre {
    flex-direction: column;
  }
  .sobre .sobre-img img {
    display: none;
  }
}
@media (max-width: 550px) {
  .hero {
    height: 300px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }
  .hero .hero-text {
    margin: 10px;
  }
  .hero .hero-text h1 {
    font-size: 24px;
  }
  .hero .hero-text p {
    font-size: 15px;
  }
  .hero .hero-button {
    width: 100%;
  }
  .hero .hero-button a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--branco);
    font-size: 30px;
  }
  .hero .hero-button a .button-whats {
    padding: 10px 20px;
    background-color: green;
    border-radius: 30px;
  }
  .sobre {
    flex-direction: column;
  }
  .sobre .sobre-img img {
    display: none;
  }
  .sobre .sobre-text {
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .sobre .sobre-text span {
    text-align: center;
  }
  .sobre .sobre-text ul li {
    font-size: 19px;
  }
  .servicos .servicos-mobile {
    display: block;
  }
  .servicos .servicos-desktop {
    display: none;
  }
}
.intocavel {
  display: none;
}

@media (max-width: 550px) {
  .intocavel {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
  }
  .intocavel .sidebar {
    width: 300px;
    height: 90vh;
    background: #fff;
    border-right: 1px solid #1a1717;
    position: fixed;
    left: -300;
    top: 0;
    padding: 4px;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  .intocavel .sidebar .header-sidebar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .intocavel .sidebar .header-sidebar .close-button {
    border: none;
    background-color: #fff;
    padding: 0;
    font-size: 30px;
    color: #93a1a6;
  }
  .intocavel .sidebar .menu-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    border-bottom: #93a1a6 solid 1px;
  }
  .intocavel .sidebar .menu-section h4 {
    font-size: 16px;
    color: #93a1a6;
    margin-top: 12px;
  }
  .intocavel .sidebar .menu-section a {
    text-decoration: none;
    color: var(--black);
    margin-bottom: 10px;
  }
  .intocavel .sidebar .menu-section-1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding: 10px;
    border-bottom: #93a1a6 solid 1px;
  }
  .intocavel .sidebar .menu-section-1 a {
    text-decoration: none;
    font-size: 20px;
    color: var(--rosa);
  }
}
footer {
  width: 100%;
}
footer .footer-mobile {
  display: none;
}

@media (max-width: 550px) {
  footer {
    width: 100%;
  }
  footer .footer-mobile {
    display: flex;
    width: 100%;
    padding: 10px 0px;
    border-top: solid 1px var(--rosa);
    background-color: var(--branco);
    position: fixed;
    bottom: 0;
    z-index: 10;
    justify-content: space-around;
  }
  footer .footer-mobile a {
    text-decoration: none;
    color: var(--rosa);
    font-size: 20px;
  }
}/*# sourceMappingURL=style.css.map */