@charset "UTF-8";
:root {
  --azul: #5170ff;
  --roxo: #976ce7;
  --preto: #000;
  --branco: #fff;
  --rosa: #ff66c4;
  --amarelo: #feba16;
}

:root {
  --bg-dark: hsl(0 0% 0%);
  --bg: hsl(0 0% 9%);
  --bg-light: hsl(0 0% 18%);
  --bg-lighter: hsl(0 0% 26%);
  --bg-morelighter: hsl(0 0% 33%);
  --text: hsl(0 0% 95%);
  --text-muted: hsl(0, 0%, 70%);
  --titulo: font-size: 24px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: var(--bg);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.aberto {
  display: block;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.hammersmith-one {
  font-family: "Hammersmith One", sans-serif;
}

.open-sans {
  font-family: "Open Sans", sans-serif;
}

.icon-grande {
  font-size: 30px !important;
  margin-left: 10px;
}

.word-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

header {
  position: relative;
  background: transparent;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0px;
  max-width: 1920px;
  z-index: 100;
}
header .header-font {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
header .header-font li a {
  color: var(--branco);
  transition: all 0.8s ease;
}
header .header-font li li a {
  color: var(--branco);
}
header .mobile-menu-top {
  display: none;
}
header .logo-mobile {
  display: none;
}
header .nav-desktop {
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.2vw;
}
header .nav-desktop .logo-desktop img {
  width: 100px;
  max-width: 100%;
  height: auto;
}
header .nav-desktop .nav-links {
  display: flex;
  flex-direction: row;
}
header .nav-desktop .nav-links li {
  margin-left: 40px;
}
header .nav-desktop .nav-links li a {
  background: linear-gradient(90deg, var(--rosa), var(--azul));
  background-size: 150%;
  background-clip: text;
  -webkit-background-clip: text;
  color: var(--branco);
  -webkit-text-fill-color: var(--branco);
  transition: all 0.4s ease-in-out;
}
header .nav-desktop .nav-links li a:hover {
  -webkit-text-fill-color: transparent;
  color: transparent;
}
header .nav-desktop .nav-links a.active {
  background: none;
  -webkit-background-clip: initial;
  background-clip: initial;
  -webkit-text-fill-color: var(--rosa);
  color: var(--rosa);
}
header .nav-desktop .nav-links a.active:hover {
  background: none;
  -webkit-background-clip: initial;
  background-clip: initial;
  -webkit-text-fill-color: var(--rosa);
  color: var(--rosa);
}
header .nav-desktop .div-login-user {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  header .nav-desktop {
    justify-content: space-between;
  }
  header .nav-desktop .logo-desktop img {
    width: 70px;
  }
  header .nav-desktop .nav-links li {
    margin-left: 20px;
  }
  header .nav-desktop .div-login-user .profile-img {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 550px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .mobile-menu-top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: var(--roxo);
    font-size: 25px;
  }
  header .logo-mobile {
    display: inline;
  }
  header .logo-mobile img {
    width: 60px;
    height: auto;
  }
  header .nav-desktop {
    display: none;
  }
}
.hero {
  z-index: 0;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1920px;
  width: 100%;
  height: 50vw;
  position: relative;
  top: -100px;
  background-image: radial-gradient(rgba(0, 0, 0, 0.4), rgb(0, 0, 0)), url("../img/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero .hero-text {
  display: flex;
  width: 700px;
  flex-direction: column;
}
.hero .hero-text h1 {
  color: white;
  font-size: 5vw;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  letter-spacing: 0.2rem;
}
.hero .hero-text p {
  color: white;
  font-size: 1.5vw;
  font-family: "Roboto", sans-serif;
}

.servicos {
  width: 90%;
  height: 600px;
  border: purple 2px solid;
  margin: 10px 60px;
  max-width: 1920px;
  display: flex;
}
.servicos .img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
}
.servicos .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.servicos .servicos-text {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.servicos .servicos-text ul {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.sobre {
  max-width: 1920px;
  width: 90%;
  margin-top: 40px;
  height: 500px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  border: 1px solid purple;
}
.sobre .sobre-img {
  display: flex;
  align-items: end;
  justify-content: end;
  width: 50%;
  max-width: 50%;
}
.sobre .sobre-img img {
  width: 90%;
  height: 499px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.sobre .sobre-text {
  width: 100%;
  max-width: 50%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 30px;
}
.sobre .sobre-text p {
  text-align: justify;
  font-size: 20px;
  max-width: 90%;
}

@media (max-width: 500px) {
  .hero {
    height: 400px;
  }
  .hero .hero-text {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .hero .hero-text h1 {
    font-size: 20px;
  }
  .hero .hero-text p {
    font-size: 16px;
    max-width: 90%;
  }
  .servicos {
    width: 99%;
    height: 100%;
    border: purple 2px solid;
    margin-top: -80px;
    padding: 20px;
    align-items: start;
  }
  .servicos .img {
    display: none;
  }
  .servicos .servicos-text {
    width: 100%;
    gap: 30px;
  }
  .servicos .servicos-text ul {
    gap: 10px;
  }
  .sobre {
    height: auto;
    width: 97%;
    margin: 0;
    flex-direction: column;
  }
  .sobre .sobre-img {
    display: none;
  }
  .sobre .sobre-text {
    width: 100%;
    max-width: 100%;
    align-items: start;
    justify-content: start;
  }
  .sobre .sobre-text p {
    font-size: 17px;
    width: 100%;
    margin: 10px;
    text-align: left;
  }
}
.login-container {
  display: flex;
  position: relative;
  z-index: 0;
  top: -100px;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: -100px;
}
.login-container .login-img {
  background-image: linear-gradient(to right, var(--bg), rgba(0, 0, 0, 0)), url("../img/login-fundo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 50%;
  height: 100vh;
}
.login-container .login-form {
  display: flex;
  padding: 10px 90px;
  flex-direction: column;
  width: 50%;
}
.login-container .login-form h1 {
  text-align: center;
}
.login-container .login-form p {
  text-align: start;
}
.login-container .login-form form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.login-container .login-form form input {
  background: transparent;
  -o-border-image: linear-gradient(to right, var(--rosa), var(--azul)) 1;
     border-image: linear-gradient(to right, var(--rosa), var(--azul)) 1;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
}
.login-container .login-form form p a {
  text-decoration: none;
  color: var(--rosa);
}
.login-container .login-form form button {
  margin-left: 0;
  background: transparent;
  -o-border-image: linear-gradient(to right, var(--rosa), var(--azul)) 1;
     border-image: linear-gradient(to right, var(--rosa), var(--azul)) 1;
  border-width: 1px;
  border-style: solid;
  padding: 10px 30px;
  background: transparent;
  color: white;
  border-radius: 30px;
}

.intocavel {
  display: none;
}

@media (max-width: 550px) {
  .intocavel {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 101;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
  }
  .intocavel .sidebar {
    width: 300px;
    height: 100vh;
    background: var(--bg);
    border-right: 1px solid #1a1717;
    position: fixed;
    left: -300;
    top: 0;
    padding: 4px;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 200;
  }
  .intocavel .sidebar .header-sidebar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .intocavel .sidebar .header-sidebar .close-button {
    border: none;
    background-color: var(--bg);
    padding: 0;
    font-size: 30px;
    color: #93a1a6;
  }
  .intocavel .sidebar .menu-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    border-bottom: #93a1a6 solid 1px;
  }
  .intocavel .sidebar .menu-section h4 {
    font-size: 16px;
    color: #93a1a6;
    margin-top: 12px;
  }
  .intocavel .sidebar .menu-section a {
    text-decoration: none;
    color: var(--black);
    margin-bottom: 10px;
  }
  .intocavel .sidebar .menu-section-1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding: 10px;
    border-bottom: #93a1a6 solid 1px;
  }
  .intocavel .sidebar .menu-section-1 a {
    text-decoration: none;
    font-size: 20px;
    color: var(--rosa);
  }
}
.userbar {
  background-color: var(--bg-light);
  position: relative;
  display: flex;
  width: 350px;
  height: 77vh;
  position: fixed;
  bottom: 100px;
  z-index: 110;
  right: -400px;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
}
.userbar .body .header {
  display: flex;
  flex-direction: row;
}
.userbar .body {
  width: 100%;
  height: 500px;
  margin-top: 15px;
  background-color: var(--bg-light);
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
.userbar .body .links-userbar {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-light);
  height: 290px;
  margin-top: -120px;
  width: 100%;
}
.userbar .body .links-userbar .icon a:hover {
  background-color: var(--bg-morelighter);
  color: white;
  transition: 0.5s ease-out;
}
.userbar .body .links-userbar .icon a:hover strong {
  color: white;
}
.userbar .body .links-userbar a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 18px;
  text-decoration: none;
  color: var(--text);
  text-align: start;
}
.userbar .body .links-userbar strong {
  color: rgb(227, 146, 219);
}
.userbar .body .links-userbar #icon1 {
  display: flex; /* inline mas com flex para centralizar */
  flex-direction: row;
  align-items: center;
  width: 17px;
  height: 17px;
  padding: 13px;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--bg-lighter);
  flex-shrink: 0;
}
.userbar .body .links-userbar #icon2 {
  display: flex;
  flex-direction: row; /* inline mas com flex para centralizar */
  margin-left: auto;
  flex-shrink: 0;
  font-size: 20px;
}
.userbar .body .links-userbar .icon i {
  color: red;
}
.userbar .body .links-userbar a:last-child {
  border-bottom: none;
}
.userbar .body .img-userbar {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  order: -1; /* manda a imagem para cima */
  margin-top: -60px;
  margin-left: 3%;
  padding: 10px;
  gap: 15px;
}
.userbar .body .img-userbar img {
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover; /* garante que a imagem não distorça */
  border-radius: 50%;
}
.userbar .body .img-userbar h2 {
  color: var(--text);
  font-size: 21px;
  align-items: center;
  padding-top: 10px;
}
.userbar .body .img-userbar button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 32px;
  color: var(--text);
}
.userbar .body .img-userbar button :hover {
  transition: 0.2s ease-out;
  color: rgb(227, 146, 219);
}
.userbar .body .img-userbar button {
  position: relative;
  margin-left: 80px;
}
.userbar .footer {
  background-color: var(--bg-light);
  color: var(--text-muted);
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  margin-top: -55px;
}

@media (max-width: 500px) {
  .userbar {
    display: none;
  }
}
footer {
  width: 100%;
}
footer .footer-mobile {
  display: none;
}

@media (max-width: 550px) {
  footer {
    width: 100%;
  }
  footer .footer-mobile {
    display: flex;
    width: 100%;
    padding: 10px 0px;
    border-top: solid 1px var(--rosa);
    background-color: var(--bg);
    position: fixed;
    bottom: 0;
    z-index: 10;
    justify-content: space-around;
  }
  footer .footer-mobile a {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--rosa);
    font-size: 20px;
  }
  footer .footer-mobile a img {
    max-width: 50px;
    width: auto;
  }
}/*# sourceMappingURL=style.css.map */