@charset "UTF-8";
:root {
  --azul: #5170ff;
  --roxo: #976ce7;
  --preto: #000;
  --branco: #fff;
  --rosa: #ff66c4;
  --amarelo: #feba16;
}

:root {
  --bg-dark: hsl(0 0% 0%);
  --bg: hsl(0 0% 9%);
  --bg-light: hsl(0 0% 18%);
  --bg-lighter: hsl(0 0% 26%);
  --bg-morelighter: hsl(0 0% 33%);
  --text: hsl(0 0% 95%);
  --text-muted: hsl(0, 0%, 70%);
  --titulo: font-size: 24px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: black;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
}

.aberto {
  display: block;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

.hammersmith-one {
  font-family: "Hammersmith One", sans-serif;
}

.icon-grande {
  font-size: 30px !important;
  margin-left: 10px;
}

header {
  position: relative;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
  max-width: 1200px;
  z-index: 100;
}
header .header-font {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
header .header-font li a {
  color: var(--roxo);
}
header .header-font li li a {
  color: var(--roxo);
}
header .mobile-menu-top {
  display: none;
}
header .logo-mobile {
  display: none;
}
header .nav-desktop {
  width: 100%;
  margin: 0px 5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header .nav-desktop .logo-desktop img {
  width: 80px;
}
header .nav-desktop .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .nav-desktop .nav-links li {
  margin-left: 60px;
}
header .nav-desktop .div-login-user {
  display: flex;
  align-items: center;
}

@media (max-width: 800px) {
  header .nav-desktop {
    justify-content: space-between;
  }
  header .nav-desktop .logo-desktop img {
    width: 70px;
  }
  header .nav-desktop .nav-links li {
    margin-left: 20px;
  }
  header .nav-desktop .div-login-user .profile-img {
    width: 40px;
    height: 40px;
  }
}
@media (max-width: 550px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  header .mobile-menu-top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    color: var(--roxo);
    font-size: 25px;
  }
  header .logo-mobile {
    display: inline;
  }
  header .logo-mobile img {
    width: 60px;
    height: auto;
  }
  header .nav-desktop {
    display: none;
  }
}
.hero {
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1500px;
  width: 100%;
  height: 500px;
  position: relative;
  top: -80px;
  background-image: radial-gradient(rgba(255, 255, 255, 0), rgb(0, 0, 0)), url("../img/hero.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero .hero-text {
  display: flex;
  width: 700px;
  flex-direction: column;
}
.hero .hero-text h1 {
  color: white;
}
.hero .hero-text p {
  color: white;
}

.servicos {
  width: 100%;
  border: purple 2px solid;
  margin: 10px 60px;
  padding: 30px;
  max-width: 1200px;
  display: flex;
}
.servicos .img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}
.servicos .img img {
  width: 100%;
}
.servicos .servicos-text {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.servicos .servicos-text ul {
  text-align: start;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fundo-login {
  height: 100%;
  width: 100%;
  font-family: "Segoe UI", sans-serif;
  background: linear-gradient(135deg, var(--rosa), var(--azul));
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 150px;
}

.login-wrapper {
  width: 100%;
  max-width: 400px;
  padding: 20px;
}
.login-wrapper .login-box {
  background: #fff;
  border-radius: 10px;
  padding: 40px 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.login-wrapper .login-box .img-login {
  height: 100px;
}
.login-wrapper .login-box .img-login img {
  width: auto;
  height: 100%;
}
.login-wrapper .login-box .input-group {
  position: relative;
  margin-bottom: 20px;
}
.login-wrapper .login-box .input-group i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #999;
}
.login-wrapper .login-box .input-group input {
  width: 100%;
  padding: 10px 10px 10px 35px;
  border: 1px solid #ccc;
  border-radius: 30px;
  outline: none;
  transition: 0.3s;
}
.login-wrapper .login-box .input-group input:focus {
  border-color: #9f4efb;
}
.login-wrapper .login-box .forgot {
  text-align: right;
  margin-bottom: 20px;
}
.login-wrapper .login-box .forgot a {
  font-size: 0.9rem;
  color: #555;
  text-decoration: none;
}
.login-wrapper .login-box .login-btn {
  width: 100%;
  padding: 12px;
  background: linear-gradient(90deg, var(--azul), var(--rosa));
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}
.login-wrapper .login-box .login-btn:hover {
  opacity: 0.9;
}
.login-wrapper .login-box .signup-text {
  margin: 20px 0 10px;
  color: #888;
}
.login-wrapper .login-box .social-login a {
  margin: 0 10px;
  color: #fff;
  background: #333;
  display: inline-block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 50%;
  text-align: center;
  transition: 0.3s;
}
.login-wrapper .login-box .social-login a:hover {
  opacity: 0.8;
}
.login-wrapper .login-box .social-login a:nth-child(1) {
  background: #3b5998;
}
.login-wrapper .login-box .social-login a:nth-child(2) {
  background: #1da1f2;
}
.login-wrapper .login-box .social-login a:nth-child(3) {
  background: #db4437;
}
.login-wrapper .login-box .signup-link {
  margin-top: 20px;
  font-size: 0.9rem;
}
.login-wrapper .login-box .signup-link a {
  color: #9f4efb;
  text-decoration: none;
}

.intocavel {
  display: none;
}

@media (max-width: 550px) {
  .intocavel {
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
    top: 0;
    right: 0;
  }
  .intocavel .sidebar {
    width: 300px;
    height: 100vh;
    background: #fff;
    border-right: 1px solid #1a1717;
    position: fixed;
    left: -300;
    top: 0;
    padding: 4px;
    overflow-y: auto;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
  }
  .intocavel .sidebar .header-sidebar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .intocavel .sidebar .header-sidebar .close-button {
    border: none;
    background-color: #fff;
    padding: 0;
    font-size: 30px;
    color: #93a1a6;
  }
  .intocavel .sidebar .menu-section {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px;
    border-bottom: #93a1a6 solid 1px;
  }
  .intocavel .sidebar .menu-section h4 {
    font-size: 16px;
    color: #93a1a6;
    margin-top: 12px;
  }
  .intocavel .sidebar .menu-section a {
    text-decoration: none;
    color: var(--black);
    margin-bottom: 10px;
  }
  .intocavel .sidebar .menu-section-1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    padding: 10px;
    border-bottom: #93a1a6 solid 1px;
  }
  .intocavel .sidebar .menu-section-1 a {
    text-decoration: none;
    font-size: 20px;
    color: var(--rosa);
  }
}
.userbar {
  background-color: var(--bg-light);
  position: relative;
  display: flex;
  width: 350px;
  height: 77vh;
  position: fixed;
  bottom: 100px;
  z-index: 110;
  right: -400px;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  justify-content: flex-start;
  flex-direction: column;
  gap: 30px;
}
.userbar .body .header {
  display: flex;
  flex-direction: row;
}
.userbar .body {
  width: 100%;
  height: 500px;
  margin-top: 15px;
  background-color: var(--bg-light);
  color: var(--text);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
.userbar .body .links-userbar {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-light);
  height: 290px;
  margin-top: -120px;
  width: 100%;
}
.userbar .body .links-userbar .icon a:hover {
  background-color: var(--bg-morelighter);
  color: white;
  transition: 0.5s ease-out;
}
.userbar .body .links-userbar .icon a:hover strong {
  color: white;
}
.userbar .body .links-userbar a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 18px;
  text-decoration: none;
  color: var(--text);
  text-align: start;
}
.userbar .body .links-userbar strong {
  color: rgb(227, 146, 219);
}
.userbar .body .links-userbar #icon1 {
  display: flex; /* inline mas com flex para centralizar */
  flex-direction: row;
  align-items: center;
  width: 17px;
  height: 17px;
  padding: 13px;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--bg-lighter);
  flex-shrink: 0;
}
.userbar .body .links-userbar #icon2 {
  display: flex;
  flex-direction: row; /* inline mas com flex para centralizar */
  margin-left: auto;
  flex-shrink: 0;
  font-size: 20px;
}
.userbar .body .links-userbar .icon i {
  color: red;
}
.userbar .body .links-userbar a:last-child {
  border-bottom: none;
}
.userbar .body .img-userbar {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  order: -1; /* manda a imagem para cima */
  margin-top: -60px;
  margin-left: 3%;
  padding: 10px;
  gap: 15px;
}
.userbar .body .img-userbar img {
  width: 50px;
  -o-object-fit: cover;
     object-fit: cover; /* garante que a imagem não distorça */
  border-radius: 50%;
}
.userbar .body .img-userbar h2 {
  color: var(--text);
  font-size: 21px;
  align-items: center;
  padding-top: 10px;
}
.userbar .body .img-userbar button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  font-size: 32px;
  color: var(--text);
}
.userbar .body .img-userbar button :hover {
  transition: 0.2s ease-out;
  color: rgb(227, 146, 219);
}
.userbar .body .img-userbar button {
  position: relative;
  margin-left: 80px;
}
.userbar .footer {
  background-color: var(--bg-light);
  color: var(--text-muted);
  width: 100%;
  padding: 15px;
  border-radius: 20px;
  margin-top: -55px;
}

@media (max-width: 500px) {
  .userbar {
    display: none;
  }
}
footer {
  width: 100%;
}
footer .footer-mobile {
  display: none;
}

@media (max-width: 550px) {
  footer {
    width: 100%;
  }
  footer .footer-mobile {
    display: flex;
    width: 100%;
    padding: 10px 0px;
    border-top: solid 1px var(--rosa);
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    z-index: 10;
    justify-content: space-around;
  }
  footer .footer-mobile a {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--rosa);
    font-size: 20px;
  }
  footer .footer-mobile a img {
    max-width: 50px;
    width: auto;
  }
}/*# sourceMappingURL=style.css.map */